<form id="dynamic-query-form" class="center center-row dynamic-query-form" style="margin: 5px" method="post" action="/ticket-list">
  <input type="text" name="value" placeholder="Quick Search" required />
  <button type="submit" form="dynamic-query-form" class="center btn-icon btn-icon-search">
    <img class="svg" src="/imgs/search-svgrepo-com.svg" alt="search button" />
  </button>
</form>
