<% errors.forEach(function(message){ %>
<div class="alert danger text-center">
  <span><%= message %></span>
</div>
<% }) %> <% success.forEach(function(message){ %>
<div class="alert success text-center">
  <span><%= message %></span>
</div>
<% }) %>
