<footer class="center center-row">
  <a href="/" class="nav-link">Home</a>
  <a href="/terms-of-use" class="nav-link">Terms of Use</a>
  <a href="/about" class="nav-link">About</a>
  <a
    href="mailTo:<%= process.env.SA_GROUP %>, <%= process.env.COMMO_EMAIL %>?subject=Trouble Issue with Trouble Ticket Generator&body=Dear Trouble Ticket Team, Request your assistance with..."
    class="nav-link"
    >Contact Us</a
  >
</footer>
