<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/main.css" />
    <title><%= title %></title>
  </head>
  <body>
    <%- include('flash'); -%>
    <header id="header" class="header">
      <div id="logo">
        <h1><%= process.env.UNIT_TITLE %></h1>
      </div>
      <div class="center guest-block">
        <form id="login-form" name="login-form" action="/login" method="POST" class="login-form center center-row">
          <input type="text" name="username" placeholder="Username" />
          <input type="password" name="password" placeholder="Password" />
          <input form="login-form" type="submit" id="login-submit" value="login" class="login-btn" />
        </form>
      </div>
    </header>
  </body>
</html>
