<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./main.css" />
    <title>Page Not Found</title>
  </head>
  <body>
    <main id="response-overlay-success" class="pri-background">
      <div class="center response-overlay">
        <div id="response-overlay-fail">
          <div class="center response-overlay">
            <div id="trouble-ticket" class="ticket-details-width">
              <div class="ticket-details-title">
                <h2>The page you are looking for could not be found.</h2>
                <h2>Return to Home the <a href="/" aria-label="Link to homepage">Homepage</a></h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
