<%- include('includes/header'); -%>

<main class="center pri-background">
  <div class="header-block">
    <h1 id="title" class="uppercase"><%= process.env.UNIT_TITLE %> Trouble Ticket Management System</h1>
    <p id="description">All requests are forwarded to IW division for resolution.</p>
  </div>
</main>

<%- include('includes/footer'); %>
