<%- include('includes/header'); -%>

<main class="center alt-background">
  <div id="terms-of-use">
  <div class="header-block">
    <h1 id="title" class="uppercase"><%= process.env.UNIT_TITLE %> Trouble Ticket Management System Terms of Use</h1>
  </div>

<h2 class="single-digit">1. AGREEMENT TO TERMS</h2>

  <p>THESE TERMS OF USE CONSTITUTE A LEGALLY BINDING AGREEMENT MADE BETWEEN YOU, WHETHER PERSONALLY OR ON BEHALF OF AN ENTITY (“YOU”) AND __________ ("COMPANY," “WE," “US," OR “OUR”), CONCERNING YOUR ACCESS TO AND USE OF THE SHIPBOARD IW DIVISION TROUBLE LOG AS WELL AS ANY OTHER MEDIA FORM, MEDIA CHANNEL, MOBILE WEBSITE OR MOBILE APPLICATION RELATED, LINKED, OR OTHERWISE CONNECTED THERETO (COLLECTIVELY, THE “SITE”). YOU AGREE THAT BY ACCESSING THE SITE, YOU HAVE READ, UNDERSTOOD, AND AGREED TO BE BOUND BY ALL OF THESE TERMS OF USE. IF YOU DO NOT AGREE WITH ALL OF THESE TERMS OF USE, THEN YOU ARE EXPRESSLY PROHIBITED FROM USING THE SITE AND YOU MUST DISCONTINUE USE IMMEDIATELY.</p>

  <P>SUPPLEMENTAL TERMS AND CONDITIONS OR DOCUMENTS THAT MAY BE POSTED ON THE SITE FROM TIME TO TIME ARE HEREBY EXPRESSLY INCORPORATED HEREIN BY REFERENCE. WE RESERVE THE RIGHT, IN OUR SOLE DISCRETION, TO MAKE CHANGES OR MODIFICATIONS TO THESE TERMS OF USE AT ANY TIME AND FOR ANY REASON. WE WILL ALERT YOU ABOUT ANY CHANGES BY UPDATING THE “LAST UPDATED” DATE OF THESE TERMS OF USE, AND YOU WAIVE ANY RIGHT TO RECEIVE SPECIFIC NOTICE OF EACH SUCH CHANGE. PLEASE ENSURE THAT YOU CHECK THE APPLICABLE TERMS EVERY TIME YOU USE OUR SITE SO THAT YOU UNDERSTAND WHICH TERMS APPLY. YOU WILL BE SUBJECT TO, AND WILL BE DEEMED TO HAVE BEEN MADE AWARE OF AND TO HAVE ACCEPTED, THE CHANGES IN ANY REVISED TERMS OF USE BY YOUR CONTINUED USE OF THE SITE AFTER THE DATE SUCH REVISED TERMS OF USE ARE POSTED.</P>

  <p>THE INFORMATION PROVIDED ON THE SITE IS NOT INTENDED FOR DISTRIBUTION TO OR USE BY ANY PERSON OR ENTITY IN ANY JURISDICTION OR COUNTRY WHERE SUCH DISTRIBUTION OR USE WOULD BE CONTRARY TO LAW OR REGULATION OR WHICH WOULD SUBJECT US TO ANY REGISTRATION REQUIREMENT WITHIN SUCH JURISDICTION OR COUNTRY. ACCORDINGLY, THOSE PERSONS WHO CHOOSE TO ACCESS THE SITE FROM OTHER LOCATIONS DO SO ON THEIR OWN INITIATIVE AND ARE SOLELY RESPONSIBLE FOR COMPLIANCE WITH LOCAL LAWS, IF AND TO THE EXTENT LOCAL LAWS ARE APPLICABLE.</p>

  <p>THE SITE IS NOT TAILORED TO COMPLY WITH INDUSTRY-SPECIFIC REGULATIONS (HEALTH INSURANCE PORTABILITY AND ACCOUNTABILITY ACT (HIPAA), FEDERAL INFORMATION SECURITY MANAGEMENT ACT (FISMA), ETC.), SO IF YOUR INTERACTIONS WOULD BE SUBJECTED TO SUCH LAWS, YOU MAY NOT USE THIS SITE. YOU MAY NOT USE THE SITE IN A WAY THAT WOULD VIOLATE THE GRAMM-LEACH-BLILEY ACT (GLBA).</p>

  <p>THE SITE IS INTENDED FOR USERS WHO ARE AT LEAST 18 YEARS OLD. PERSONS UNDER THE AGE OF 18 ARE NOT PERMITTED TO USE OR REGISTER FOR THE SITE.</p>

  <h2 class="single-digit">2. INTELLECTUAL PROPERTY RIGHTS</h2>

  <p>UNLESS OTHERWISE INDICATED, THE SITE IS OUR PROPRIETARY PROPERTY AND ALL SOURCE CODE, DATABASES, FUNCTIONALITY, SOFTWARE, WEBSITE DESIGNS, AUDIO, VIDEO, TEXT, PHOTOGRAPHS, AND GRAPHICS ON THE SITE (COLLECTIVELY, THE “CONTENT”) AND THE TRADEMARKS, SERVICE MARKS, AND LOGOS CONTAINED THEREIN (THE “MARKS”) ARE OWNED OR CONTROLLED BY US OR LICENSED TO US, AND ARE PROTECTED BY COPYRIGHT AND TRADEMARK LAWS AND VARIOUS OTHER INTELLECTUAL PROPERTY RIGHTS AND UNFAIR COMPETITION LAWS OF THE UNITED STATES, INTERNATIONAL COPYRIGHT LAWS, AND INTERNATIONAL CONVENTIONS. THE CONTENT AND THE MARKS ARE PROVIDED ON THE SITE “AS IS” FOR YOUR INFORMATION AND PERSONAL USE ONLY. EXCEPT AS EXPRESSLY PROVIDED IN THESE TERMS OF USE, NO PART OF THE SITE AND NO CONTENT OR MARKS MAY BE COPIED, REPRODUCED, AGGREGATED, REPUBLISHED, UPLOADED, POSTED, PUBLICLY DISPLAYED, ENCODED, TRANSLATED, TRANSMITTED, DISTRIBUTED, SOLD, LICENSED, OR OTHERWISE EXPLOITED FOR ANY COMMERCIAL PURPOSE WHATSOEVER, WITHOUT OUR EXPRESS PRIOR WRITTEN PERMISSION.</p>

  <p>PROVIDED THAT YOU ARE ELIGIBLE TO USE THE SITE, YOU ARE GRANTED A LIMITED LICENSE TO ACCESS AND USE THE SITE AND TO DOWNLOAD OR PRINT A COPY OF ANY PORTION OF THE CONTENT TO WHICH YOU HAVE PROPERLY GAINED ACCESS SOLELY FOR YOUR PERSONAL, NON-COMMERCIAL USE. WE RESERVE ALL RIGHTS NOT EXPRESSLY GRANTED TO YOU IN AND TO THE SITE, THE CONTENT AND THE MARKS.</p>

  <h2 class="single-digit">3. USER REPRESENTATIONS</h2>

  <p>BY USING THE SITE, YOU REPRESENT AND WARRANT THAT:  (1) YOU HAVE THE LEGAL CAPACITY AND YOU AGREE TO COMPLY WITH THESE TERMS OF USE; (2) YOU ARE NOT A MINOR IN THE JURISDICTION IN WHICH YOU RESIDE; (3) YOU WILL NOT ACCESS THE SITE THROUGH AUTOMATED OR NON-HUMAN MEANS, WHETHER THROUGH A BOT, SCRIPT, OR OTHERWISE; (4) YOU WILL NOT USE THE SITE FOR ANY ILLEGAL OR UNAUTHORIZED PURPOSE; AND (5) YOUR USE OF THE SITE WILL NOT VIOLATE ANY APPLICABLE LAW OR REGULATION.</p>

  <p>IF YOU PROVIDE ANY INFORMATION THAT IS UNTRUE, INACCURATE, NOT CURRENT, OR INCOMPLETE, WE HAVE THE RIGHT TO SUSPEND OR TERMINATE YOUR ACCOUNT AND REFUSE ANY AND ALL CURRENT OR FUTURE USE OF THE SITE (OR ANY PORTION THEREOF).</p>

  <h2 class="single-digit">4. PROHIBITED ACTIVITIES</h2>

  <p>YOU MAY NOT ACCESS OR USE THE SITE FOR ANY PURPOSE OTHER THAN THAT FOR WHICH WE MAKE THE SITE AVAILABLE. THE SITE MAY NOT BE USED IN CONNECTION WITH ANY COMMERCIAL ENDEAVORS EXCEPT THOSE THAT ARE SPECIFICALLY ENDORSED OR APPROVED BY US.</p>

  <p>AS A USER OF THE SITE, YOU AGREE NOT TO:</p>
  <ul>
    <li>Systematically retrieve data or other content from the Site to create or compile, directly or indirectly, a collection, compilation, database, or directory without written permission from us.</li>
    <li>Trick, defraud, or mislead us and other users, especially in any attempt to learn sensitive account information such as user passwords.</li>
    <li>Circumvent, disable, or otherwise interfere with security-related features of the Site, including features that prevent or restrict the use or copying of any Content or enforce limitations on the use of the Site and/or the Content contained therein.</li>
    <li>Disparage, tarnish, or otherwise harm, in our opinion, us and/or the Site.</li>
    <li>Use any information obtained from the Site in order to harass, abuse, or harm another person.</li>
    <li>Make improper use of our support services or submit false reports of abuse or misconduct.</li>
    <li>Use the Site in a manner inconsistent with any applicable laws or regulations.</li>
    <li>Engage in unauthorized framing of or linking to the Site.</li>
    <li>Upload or transmit (or attempt to upload or to transmit) viruses, Trojan horses, or other material, including excessive use of capital letters and spamming (continuous posting of repetitive text), that interferes with any party’s uninterrupted use and enjoyment of the Site or modifies, impairs, disrupts, alters, or interferes with the use, features, functions, operation, or maintenance of the Site.</li>
    <li>Engage in any automated use of the system, such as using scripts to send comments or messages, or using any data mining, robots, or similar data gathering and extraction tools.</li>
    <li>Delete the copyright or other proprietary rights notice from any Content.</li>
    <li>Attempt to impersonate another user or person or use the username of another user.</li>
    <li>Upload or transmit (or attempt to upload or to transmit) any material that acts as a passive or active information collection or transmission mechanism, including without limitation, clear graphics interchange formats (“gifs”), 1×1 pixels, web bugs, cookies, or other similar devices (sometimes referred to as “spyware” or “passive collection mechanisms” or “pcms”).</li>
    <li>Interfere with, disrupt, or create an undue burden on the Site or the networks or services connected to the Site.</li>
    <li>Harass, annoy, intimidate, or threaten any of our employees or agents engaged in providing any portion of the Site to you.</li>
    <li>Attempt to bypass any measures of the Site designed to prevent or restrict access to the Site, or any portion of the Site.</li>
    <li>Copy or adapt the Site’s software, including but not limited to Flash, PHP, HTML, JavaScript, or other code.</li>
    <li>Except as permitted by applicable law, decipher, decompile, disassemble, or reverse engineer any of the software comprising or in any way making up a part of the Site.</li>
    <li>Except as may be the result of standard search engine or Internet browser usage, use, launch, develop, or distribute any automated system, including without limitation, any spider, robot, cheat utility, scraper, or offline reader that accesses the Site, or using or launching any unauthorized script or other software.</li>
    <li>Use a buying agent or purchasing agent to make purchases on the Site.</li>
    <li>Make any unauthorized use of the Site, including collecting usernames and/or email addresses of users by electronic or other means for the purpose of sending unsolicited email, or creating user accounts by automated means or under false pretenses.</li>
    <li>Use the Site as part of any effort to compete with us or otherwise use the Site and/or the Content for any revenue-generating endeavor or commercial enterprise.</li>
  </ul>

  <h2 class="single-digit">5. USER GENERATED CONTRIBUTIONS</h2>

  <p>THE SITE DOES NOT OFFER USERS TO SUBMIT OR POST CONTENT. WE MAY PROVIDE YOU WITH THE OPPORTUNITY TO CREATE, SUBMIT, POST, DISPLAY, TRANSMIT, PERFORM, PUBLISH, DISTRIBUTE, OR BROADCAST CONTENT AND MATERIALS TO US OR ON THE SITE, INCLUDING BUT NOT LIMITED TO TEXT, WRITINGS, VIDEO, AUDIO, PHOTOGRAPHS, GRAPHICS, COMMENTS, SUGGESTIONS, OR PERSONAL INFORMATION OR OTHER MATERIAL (COLLECTIVELY, "CONTRIBUTIONS"). CONTRIBUTIONS MAY BE VIEWABLE BY OTHER USERS OF THE SITE AND THROUGH THIRD-PARTY WEBSITES. AS SUCH, ANY CONTRIBUTIONS YOU TRANSMIT MAY BE TREATED IN ACCORDANCE WITH THE SITE PRIVACY POLICY. WHEN YOU CREATE OR MAKE AVAILABLE ANY CONTRIBUTIONS, YOU THEREBY REPRESENT AND WARRANT THAT:</p>

  <ul>
    <li>THE CREATION, DISTRIBUTION, TRANSMISSION, PUBLIC DISPLAY, OR PERFORMANCE, AND THE ACCESSING, DOWNLOADING, OR COPYING OF YOUR CONTRIBUTIONS DO NOT AND WILL NOT INFRINGE THE PROPRIETARY RIGHTS, INCLUDING BUT NOT LIMITED TO THE COPYRIGHT, PATENT, TRADEMARK, TRADE SECRET, OR MORAL RIGHTS OF ANY THIRD PARTY.</li>
    <li>YOU ARE THE CREATOR AND OWNER OF OR HAVE THE NECESSARY LICENSES, RIGHTS, CONSENTS, RELEASES, AND PERMISSIONS TO USE AND TO AUTHORIZE US, THE SITE, AND OTHER USERS OF THE SITE TO USE YOUR CONTRIBUTIONS IN ANY MANNER CONTEMPLATED BY THE SITE AND THESE TERMS OF USE.</li>
    <li>YOU HAVE THE WRITTEN CONSENT, RELEASE, AND/OR PERMISSION OF EACH AND EVERY IDENTIFIABLE INDIVIDUAL PERSON IN YOUR CONTRIBUTIONS TO USE THE NAME OR LIKENESS OF EACH AND EVERY SUCH IDENTIFIABLE INDIVIDUAL PERSON TO ENABLE INCLUSION AND USE OF YOUR CONTRIBUTIONS IN ANY MANNER CONTEMPLATED BY THE SITE AND THESE TERMS OF USE.</li>
    <li>YOUR CONTRIBUTIONS ARE NOT FALSE, INACCURATE, OR MISLEADING.</li>
    <li>YOUR CONTRIBUTIONS ARE NOT UNSOLICITED OR UNAUTHORIZED ADVERTISING, PROMOTIONAL MATERIALS, PYRAMID SCHEMES, CHAIN LETTERS, SPAM, MASS MAILINGS, OR OTHER FORMS OF SOLICITATION.</li>
    <li>YOUR CONTRIBUTIONS ARE NOT OBSCENE, LEWD, LASCIVIOUS, FILTHY, VIOLENT, HARASSING, LIBELOUS, SLANDEROUS, OR OTHERWISE OBJECTIONABLE (AS DETERMINED BY US).</li>
    <li>YOUR CONTRIBUTIONS DO NOT RIDICULE, MOCK, DISPARAGE, INTIMIDATE, OR ABUSE ANYONE.</li>
    <li>YOUR CONTRIBUTIONS ARE NOT USED TO HARASS OR THREATEN (IN THE LEGAL SENSE OF THOSE TERMS) ANY OTHER PERSON AND TO PROMOTE VIOLENCE AGAINST A SPECIFIC PERSON OR CLASS OF PEOPLE.</li>
    <li>YOUR CONTRIBUTIONS DO NOT VIOLATE ANY APPLICABLE LAW, REGULATION, OR RULE.</li>
    <li>YOUR CONTRIBUTIONS DO NOT VIOLATE THE PRIVACY OR PUBLICITY RIGHTS OF ANY THIRD PARTY.</li>
    <li>YOUR CONTRIBUTIONS DO NOT VIOLATE ANY APPLICABLE LAW CONCERNING CHILD PORNOGRAPHY, OR OTHERWISE INTENDED TO PROTECT THE HEALTH OR WELL-BEING OF MINORS.</li>
    <li>YOUR CONTRIBUTIONS DO NOT INCLUDE ANY OFFENSIVE COMMENTS THAT ARE CONNECTED TO RACE, NATIONAL ORIGIN, GENDER, SEXUAL PREFERENCE, OR PHYSICAL HANDICAP.</li>
    <li>YOUR CONTRIBUTIONS DO NOT OTHERWISE VIOLATE, OR LINK TO MATERIAL THAT VIOLATES, ANY PROVISION OF THESE TERMS OF USE, OR ANY APPLICABLE LAW OR REGULATION.
      ANY USE OF THE SITE IN VIOLATION OF THE FOREGOING VIOLATES THESE TERMS OF USE AND MAY RESULT IN, AMONG OTHER THINGS, TERMINATION OR SUSPENSION OF YOUR RIGHTS TO USE THE SITE.</li>
  </ul>

  <h2 class="single-digit">6. CONTRIBUTION LICENSE</h2>

  <p>YOU AND THE SITE AGREE THAT WE MAY ACCESS, STORE, PROCESS, AND USE ANY INFORMATION AND PERSONAL DATA THAT YOU PROVIDE FOLLOWING THE TERMS OF THE PRIVACY POLICY AND YOUR CHOICES (INCLUDING SETTINGS).
  </p>

  <p>BY SUBMITTING SUGGESTIONS OR OTHER FEEDBACK REGARDING THE SITE, YOU AGREE THAT WE CAN USE AND SHARE SUCH FEEDBACK FOR ANY PURPOSE WITHOUT COMPENSATION TO YOU.</p>

  <p>WE DO NOT ASSERT ANY OWNERSHIP OVER YOUR CONTRIBUTIONS. YOU RETAIN FULL OWNERSHIP OF ALL OF YOUR CONTRIBUTIONS AND ANY INTELLECTUAL PROPERTY RIGHTS OR OTHER PROPRIETARY RIGHTS ASSOCIATED WITH YOUR CONTRIBUTIONS. WE ARE NOT LIABLE FOR ANY STATEMENTS OR REPRESENTATIONS IN YOUR CONTRIBUTIONS PROVIDED BY YOU IN ANY AREA ON THE SITE. YOU ARE SOLELY RESPONSIBLE FOR YOUR CONTRIBUTIONS TO THE SITE AND YOU EXPRESSLY AGREE TO EXONERATE US FROM ANY AND ALL RESPONSIBILITY AND TO REFRAIN FROM ANY LEGAL ACTION AGAINST US REGARDING YOUR CONTRIBUTIONS.</p>

  <h2 class="single-digit">7. SUBMISSIONS</h2>

  <p>YOU ACKNOWLEDGE AND AGREE THAT ANY QUESTIONS, COMMENTS, SUGGESTIONS, IDEAS, FEEDBACK, OR OTHER INFORMATION REGARDING THE SITE ("SUBMISSIONS") PROVIDED BY YOU TO US ARE NON-CONFIDENTIAL AND SHALL BECOME OUR SOLE PROPERTY. WE SHALL OWN EXCLUSIVE RIGHTS, INCLUDING ALL INTELLECTUAL PROPERTY RIGHTS, AND SHALL BE ENTITLED TO THE UNRESTRICTED USE AND DISSEMINATION OF THESE SUBMISSIONS FOR ANY LAWFUL PURPOSE, COMMERCIAL OR OTHERWISE, WITHOUT ACKNOWLEDGMENT OR COMPENSATION TO YOU. YOU HEREBY WAIVE ALL MORAL RIGHTS TO ANY SUCH SUBMISSIONS, AND YOU HEREBY WARRANT THAT ANY SUCH SUBMISSIONS ARE ORIGINAL WITH YOU OR THAT YOU HAVE THE RIGHT TO SUBMIT SUCH SUBMISSIONS. YOU AGREE THERE SHALL BE NO RECOURSE AGAINST US FOR ANY ALLEGED OR ACTUAL INFRINGEMENT OR MISAPPROPRIATION OF ANY PROPRIETARY RIGHT IN YOUR SUBMISSIONS.</p>

  <h2 class="single-digit">8. SITE MANAGEMENT</h2>

  <p>WE RESERVE THE RIGHT, BUT NOT THE OBLIGATION, TO: (1) MONITOR THE SITE FOR VIOLATIONS OF THESE TERMS OF USE; (2) TAKE APPROPRIATE LEGAL ACTION AGAINST ANYONE WHO, IN OUR SOLE DISCRETION, VIOLATES THE LAW OR THESE TERMS OF USE, INCLUDING WITHOUT LIMITATION, REPORTING SUCH USER TO LAW ENFORCEMENT AUTHORITIES; (3) IN OUR SOLE DISCRETION AND WITHOUT LIMITATION, REFUSE, RESTRICT ACCESS TO, LIMIT THE AVAILABILITY OF, OR DISABLE (TO THE EXTENT TECHNOLOGICALLY FEASIBLE) ANY OF YOUR CONTRIBUTIONS OR ANY PORTION THEREOF; (4) IN OUR SOLE DISCRETION AND WITHOUT LIMITATION, NOTICE, OR LIABILITY, TO REMOVE FROM THE SITE OR OTHERWISE DISABLE ALL FILES AND CONTENT THAT ARE EXCESSIVE IN SIZE OR ARE IN ANY WAY BURDENSOME TO OUR SYSTEMS; AND (5) OTHERWISE MANAGE THE SITE IN A MANNER DESIGNED TO PROTECT OUR RIGHTS AND PROPERTY AND TO FACILITATE THE PROPER FUNCTIONING OF THE SITE.</p>

  <h2 class="single-digit">9. TERM AND TERMINATION</h2>

  <p>THESE TERMS OF USE SHALL REMAIN IN FULL FORCE AND EFFECT WHILE YOU USE THE SITE. WITHOUT LIMITING ANY OTHER PROVISION OF THESE TERMS OF USE, WE RESERVE THE RIGHT TO, IN OUR SOLE DISCRETION AND WITHOUT NOTICE OR LIABILITY, DENY ACCESS TO AND USE OF THE SITE (INCLUDING BLOCKING CERTAIN IP ADDRESSES), TO ANY PERSON FOR ANY REASON OR FOR NO REASON, INCLUDING WITHOUT LIMITATION FOR BREACH OF ANY REPRESENTATION, WARRANTY, OR COVENANT CONTAINED IN THESE TERMS OF USE OR OF ANY APPLICABLE LAW OR REGULATION. WE MAY TERMINATE YOUR USE OR PARTICIPATION IN THE SITE OR DELETE ANY CONTENT OR INFORMATION THAT YOU POSTED AT ANY TIME, WITHOUT WARNING, IN OUR SOLE DISCRETION.</p>

  <p>IF WE TERMINATE OR SUSPEND YOUR ACCOUNT FOR ANY REASON, YOU ARE PROHIBITED FROM REGISTERING AND CREATING A NEW ACCOUNT UNDER YOUR NAME, A FAKE OR BORROWED NAME, OR THE NAME OF ANY THIRD PARTY, EVEN IF YOU MAY BE ACTING ON BEHALF OF THE THIRD PARTY. IN ADDITION TO TERMINATING OR SUSPENDING YOUR ACCOUNT, WE RESERVE THE RIGHT TO TAKE APPROPRIATE LEGAL ACTION, INCLUDING WITHOUT LIMITATION PURSUING CIVIL, CRIMINAL, AND INJUNCTIVE REDRESS.</p>

  <h2>10. MODIFICATIONS AND INTERRUPTIONS</h2>

  <p>WE RESERVE THE RIGHT TO CHANGE, MODIFY, OR REMOVE THE CONTENTS OF THE SITE AT ANY TIME OR FOR ANY REASON AT OUR SOLE DISCRETION WITHOUT NOTICE. HOWEVER, WE HAVE NO OBLIGATION TO UPDATE ANY INFORMATION ON OUR SITE. WE ALSO RESERVE THE RIGHT TO MODIFY OR DISCONTINUE ALL OR PART OF THE SITE WITHOUT NOTICE AT ANY TIME. WE WILL NOT BE LIABLE TO YOU OR ANY THIRD PARTY FOR ANY MODIFICATION, PRICE CHANGE, SUSPENSION, OR DISCONTINUANCE OF THE SITE.</p>

  <p>WE CANNOT GUARANTEE THE SITE WILL BE AVAILABLE AT ALL TIMES. WE MAY EXPERIENCE HARDWARE, SOFTWARE, OR OTHER PROBLEMS OR NEED TO PERFORM MAINTENANCE RELATED TO THE SITE, RESULTING IN INTERRUPTIONS, DELAYS, OR ERRORS. WE RESERVE THE RIGHT TO CHANGE, REVISE, UPDATE, SUSPEND, DISCONTINUE, OR OTHERWISE MODIFY THE SITE AT ANY TIME OR FOR ANY REASON WITHOUT NOTICE TO YOU. YOU AGREE THAT WE HAVE NO LIABILITY WHATSOEVER FOR ANY LOSS, DAMAGE, OR INCONVENIENCE CAUSED BY YOUR INABILITY TO ACCESS OR USE THE SITE DURING ANY DOWNTIME OR DISCONTINUANCE OF THE SITE. NOTHING IN THESE TERMS OF USE WILL BE CONSTRUED TO OBLIGATE US TO MAINTAIN AND SUPPORT THE SITE OR TO SUPPLY ANY CORRECTIONS, UPDATES, OR RELEASES IN CONNECTION THEREWITH.</p>

  <h2>11. GOVERNING LAW</h2>

  <p>THESE TERMS OF USE AND YOUR USE OF THE SITE ARE GOVERNED BY AND CONSTRUED IN ACCORDANCE WITH THE LAWS OF THE U.S. ARMED FORCES - PACIFIC APPLICABLE TO AGREEMENTS MADE AND TO BE ENTIRELY PERFORMED WITHIN THE U.S. ARMED FORCES - PACIFIC, WITHOUT REGARD TO ITS CONFLICT OF LAW PRINCIPLES.
  </p>

  <h2>12. DISPUTE RESOLUTION</h2>
  <h3>INFORMAL NEGOTIATIONS</h3>

  <p>TO EXPEDITE RESOLUTION AND CONTROL THE COST OF ANY DISPUTE, CONTROVERSY, OR CLAIM RELATED TO THESE TERMS OF USE (EACH "DISPUTE" AND COLLECTIVELY, THE “DISPUTES”) BROUGHT BY EITHER YOU OR US (INDIVIDUALLY, A “PARTY” AND COLLECTIVELY, THE “PARTIES”), THE PARTIES AGREE TO FIRST ATTEMPT TO NEGOTIATE ANY DISPUTE (EXCEPT THOSE DISPUTES EXPRESSLY PROVIDED BELOW) INFORMALLY FOR AT LEAST SIXTY (60) DAYS BEFORE INITIATING ARBITRATION. SUCH INFORMAL NEGOTIATIONS COMMENCE UPON WRITTEN NOTICE FROM ONE PARTY TO THE OTHER PARTY.</p>

  <h3>BINDING ARBITRATION</h3>

  <p>IF THE PARTIES ARE UNABLE TO RESOLVE A DISPUTE THROUGH INFORMAL NEGOTIATIONS, THE DISPUTE (EXCEPT THOSE DISPUTES EXPRESSLY EXCLUDED BELOW) WILL BE FINALLY AND EXCLUSIVELY RESOLVED THROUGH BINDING ARBITRATION. YOU UNDERSTAND THAT WITHOUT THIS PROVISION, YOU WOULD HAVE THE RIGHT TO SUE IN COURT AND HAVE A JURY TRIAL. THE ARBITRATION SHALL BE COMMENCED AND CONDUCTED UNDER THE COMMERCIAL ARBITRATION RULES OF THE AMERICAN ARBITRATION ASSOCIATION ("AAA") AND, WHERE APPROPRIATE, THE AAA’S SUPPLEMENTARY PROCEDURES FOR CONSUMER RELATED DISPUTES ("AAA CONSUMER RULES"), BOTH OF WHICH ARE AVAILABLE AT THE AAA WEBSITE: WWW.ADR.ORG. YOUR ARBITRATION FEES AND YOUR SHARE OF ARBITRATOR COMPENSATION SHALL BE GOVERNED BY THE AAA CONSUMER RULES AND, WHERE APPROPRIATE, LIMITED BY THE AAA CONSUMER RULES. THE ARBITRATION MAY BE CONDUCTED IN PERSON, THROUGH THE SUBMISSION OF DOCUMENTS, BY PHONE, OR ONLINE. THE ARBITRATOR WILL MAKE A DECISION IN WRITING, BUT NEED NOT PROVIDE A STATEMENT OF REASONS UNLESS REQUESTED BY EITHER PARTY. THE ARBITRATOR MUST FOLLOW APPLICABLE LAW, AND ANY AWARD MAY BE CHALLENGED IF THE ARBITRATOR FAILS TO DO SO. EXCEPT WHERE OTHERWISE REQUIRED BY THE APPLICABLE AAA RULES OR APPLICABLE LAW, THE ARBITRATION WILL TAKE PLACE IN THE U.S. ARMED FORCES - PACIFIC. EXCEPT AS OTHERWISE PROVIDED HEREIN, THE PARTIES MAY LITIGATE IN COURT TO COMPEL ARBITRATION, STAY PROCEEDINGS PENDING ARBITRATION, OR TO CONFIRM, MODIFY, VACATE, OR ENTER JUDGMENT ON THE AWARD ENTERED BY THE ARBITRATOR.</p>

  <p>IF FOR ANY REASON, A DISPUTE PROCEEDS IN COURT RATHER THAN ARBITRATION, THE DISPUTE SHALL BE COMMENCED OR PROSECUTED IN THE STATE AND FEDERAL COURTS LOCATED IN THE U.S. ARMED FORCES - PACIFIC, AND THE PARTIES HEREBY CONSENT TO, AND WAIVE ALL DEFENSES OF LACK OF PERSONAL JURISDICTION, AND FORUM NON CONVENIENS WITH RESPECT TO VENUE AND JURISDICTION IN SUCH STATE AND FEDERAL COURTS. APPLICATION OF THE UNITED NATIONS CONVENTION ON CONTRACTS FOR THE INTERNATIONAL SALE OF GOODS AND THE UNIFORM COMPUTER INFORMATION TRANSACTION ACT (UCITA) IS EXCLUDED FROM THESE TERMS OF USE.</p>

  <p>IN NO EVENT SHALL ANY DISPUTE BROUGHT BY EITHER PARTY RELATED IN ANY WAY TO THE SITE BE COMMENCED MORE THAN ZERO (0) YEARS AFTER THE CAUSE OF ACTION AROSE. IF THIS PROVISION IS FOUND TO BE ILLEGAL OR UNENFORCEABLE, THEN NEITHER PARTY WILL ELECT TO ARBITRATE ANY DISPUTE FALLING WITHIN THAT PORTION OF THIS PROVISION FOUND TO BE ILLEGAL OR UNENFORCEABLE, AND SUCH DISPUTE SHALL BE DECIDED BY A COURT OF COMPETENT JURISDICTION WITHIN THE COURTS LISTED FOR JURISDICTION ABOVE, AND THE PARTIES AGREE TO SUBMIT TO THE PERSONAL JURISDICTION OF THAT COURT.</p>

  <h3>RESTRICTIONS</h3>

  <p>THE PARTIES AGREE THAT ANY ARBITRATION SHALL BE LIMITED TO THE DISPUTE BETWEEN THE PARTIES INDIVIDUALLY. TO THE FULL EXTENT PERMITTED BY LAW, (A) NO ARBITRATION SHALL BE JOINED WITH ANY OTHER PROCEEDING; (B) THERE IS NO RIGHT OR AUTHORITY FOR ANY DISPUTE TO BE ARBITRATED ON A CLASS-ACTION BASIS OR TO UTILIZE CLASS ACTION PROCEDURES; AND (C) THERE IS NO RIGHT OR AUTHORITY FOR ANY DISPUTE TO BE BROUGHT IN A PURPORTED REPRESENTATIVE CAPACITY ON BEHALF OF THE GENERAL PUBLIC OR ANY OTHER PERSONS.</p>

  <h3>EXCEPTIONS TO INFORMAL NEGOTIATIONS AND ARBITRATION</h3>

  <p>THE PARTIES AGREE THAT THE FOLLOWING DISPUTES ARE NOT SUBJECT TO THE ABOVE PROVISIONS CONCERNING INFORMAL NEGOTIATIONS AND BINDING ARBITRATION: (A) ANY DISPUTES SEEKING TO ENFORCE OR PROTECT, OR CONCERNING THE VALIDITY OF, ANY OF THE INTELLECTUAL PROPERTY RIGHTS OF A PARTY; (B) ANY DISPUTE RELATED TO, OR ARISING FROM, ALLEGATIONS OF THEFT, PIRACY, INVASION OF PRIVACY, OR UNAUTHORIZED USE; AND (C) ANY CLAIM FOR INJUNCTIVE RELIEF. IF THIS PROVISION IS FOUND TO BE ILLEGAL OR UNENFORCEABLE, THEN NEITHER PARTY WILL ELECT TO ARBITRATE ANY DISPUTE FALLING WITHIN THAT PORTION OF THIS PROVISION FOUND TO BE ILLEGAL OR UNENFORCEABLE AND SUCH DISPUTE SHALL BE DECIDED BY A COURT OF COMPETENT JURISDICTION WITHIN THE COURTS LISTED FOR JURISDICTION ABOVE, AND THE PARTIES AGREE TO SUBMIT TO THE PERSONAL JURISDICTION OF THAT COURT.</p>

  <h2>13. CORRECTIONS</h2>

  <p>THERE MAY BE INFORMATION ON THE SITE THAT CONTAINS TYPOGRAPHICAL ERRORS, INACCURACIES, OR OMISSIONS, INCLUDING DESCRIPTIONS, PRICING, AVAILABILITY, AND VARIOUS OTHER INFORMATION. WE RESERVE THE RIGHT TO CORRECT ANY ERRORS, INACCURACIES, OR OMISSIONS AND TO CHANGE OR UPDATE THE INFORMATION ON THE SITE AT ANY TIME, WITHOUT PRIOR NOTICE.</p>

  <h2>14. DISCLAIMER</h2>

  <p>THE SITE IS PROVIDED ON AN AS-IS AND AS-AVAILABLE BASIS. YOU AGREE THAT YOUR USE OF THE SITE AND OUR SERVICES WILL BE AT YOUR SOLE RISK. TO THE FULLEST EXTENT PERMITTED BY LAW, WE DISCLAIM ALL WARRANTIES, EXPRESS OR IMPLIED, IN CONNECTION WITH THE SITE AND YOUR USE THEREOF, INCLUDING, WITHOUT LIMITATION, THE IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, AND NON-INFRINGEMENT. WE MAKE NO WARRANTIES OR REPRESENTATIONS ABOUT THE ACCURACY OR COMPLETENESS OF THE SITE’S CONTENT OR THE CONTENT OF ANY WEBSITES LINKED TO THE SITE AND WE WILL ASSUME NO LIABILITY OR RESPONSIBILITY FOR ANY (1) ERRORS, MISTAKES, OR INACCURACIES OF CONTENT AND MATERIALS, (2) PERSONAL INJURY OR PROPERTY DAMAGE, OF ANY NATURE WHATSOEVER, RESULTING FROM YOUR ACCESS TO AND USE OF THE SITE, (3) ANY UNAUTHORIZED ACCESS TO OR USE OF OUR SECURE SERVERS AND/OR ANY AND ALL PERSONAL INFORMATION AND/OR FINANCIAL INFORMATION STORED THEREIN, (4) ANY INTERRUPTION OR CESSATION OF TRANSMISSION TO OR FROM THE SITE, (5) ANY BUGS, VIRUSES, TROJAN HORSES, OR THE LIKE WHICH MAY BE TRANSMITTED TO OR THROUGH THE SITE BY ANY THIRD PARTY, AND/OR (6) ANY ERRORS OR OMISSIONS IN ANY CONTENT AND MATERIALS OR FOR ANY LOSS OR DAMAGE OF ANY KIND INCURRED AS A RESULT OF THE USE OF ANY CONTENT POSTED, TRANSMITTED, OR OTHERWISE MADE AVAILABLE VIA THE SITE. WE DO NOT WARRANT, ENDORSE, GUARANTEE, OR ASSUME RESPONSIBILITY FOR ANY PRODUCT OR SERVICE ADVERTISED OR OFFERED BY A THIRD PARTY THROUGH THE SITE, ANY HYPERLINKED WEBSITE, OR ANY WEBSITE OR MOBILE APPLICATION FEATURED IN ANY BANNER OR OTHER ADVERTISING, AND WE WILL NOT BE A PARTY TO OR IN ANY WAY BE RESPONSIBLE FOR MONITORING ANY TRANSACTION BETWEEN YOU AND ANY THIRD-PARTY PROVIDERS OF PRODUCTS OR SERVICES. AS WITH THE PURCHASE OF A PRODUCT OR SERVICE THROUGH ANY MEDIUM OR IN ANY ENVIRONMENT, YOU SHOULD USE YOUR BEST JUDGMENT AND EXERCISE CAUTION WHERE APPROPRIATE.</p>

  <h2>15. LIMITATIONS OF LIABILITY</h2>

  <p>IN NO EVENT WILL WE OR OUR DIRECTORS, EMPLOYEES, OR AGENTS BE LIABLE TO YOU OR ANY THIRD PARTY FOR ANY DIRECT, INDIRECT, CONSEQUENTIAL, EXEMPLARY, INCIDENTAL, SPECIAL, OR PUNITIVE DAMAGES, INCLUDING LOST PROFIT, LOST REVENUE, LOSS OF DATA, OR OTHER DAMAGES ARISING FROM YOUR USE OF THE SITE, EVEN IF WE HAVE BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES. NOTWITHSTANDING ANYTHING TO THE CONTRARY CONTAINED HEREIN, OUR LIABILITY TO YOU FOR ANY CAUSE WHATSOEVER AND REGARDLESS OF THE FORM OF THE ACTION, WILL AT ALL TIMES BE LIMITED TO THE LESSER OF THE AMOUNT PAID, IF ANY, BY YOU TO US DURING THE ZERO (0) MONTH PERIOD PRIOR TO ANY CAUSE OF ACTION ARISING OR $0.00 USD. CERTAIN US STATE LAWS AND INTERNATIONAL LAWS DO NOT ALLOW LIMITATIONS ON IMPLIED WARRANTIES OR THE EXCLUSION OR LIMITATION OF CERTAIN DAMAGES. IF THESE LAWS APPLY TO YOU, SOME OR ALL OF THE ABOVE DISCLAIMERS OR LIMITATIONS MAY NOT APPLY TO YOU, AND YOU MAY HAVE ADDITIONAL RIGHTS.
  </p>

  <h2>16. INDEMNIFICATION</h2>

  <p>YOU AGREE TO DEFEND, INDEMNIFY, AND HOLD US HARMLESS, INCLUDING OUR SUBSIDIARIES, AFFILIATES, AND ALL OF OUR RESPECTIVE OFFICERS, AGENTS, PARTNERS, AND EMPLOYEES, FROM AND AGAINST ANY LOSS, DAMAGE, LIABILITY, CLAIM, OR DEMAND, INCLUDING REASONABLE ATTORNEYS’ FEES AND EXPENSES, MADE BY ANY THIRD PARTY DUE TO OR ARISING OUT OF: (1) USE OF THE SITE; (2) BREACH OF THESE TERMS OF USE; (3) ANY BREACH OF YOUR REPRESENTATIONS AND WARRANTIES SET FORTH IN THESE TERMS OF USE; (4) YOUR VIOLATION OF THE RIGHTS OF A THIRD PARTY, INCLUDING BUT NOT LIMITED TO INTELLECTUAL PROPERTY RIGHTS; OR (5) ANY OVERT HARMFUL ACT TOWARD ANY OTHER USER OF THE SITE WITH WHOM YOU CONNECTED VIA THE SITE. NOTWITHSTANDING THE FOREGOING, WE RESERVE THE RIGHT, AT YOUR EXPENSE, TO ASSUME THE EXCLUSIVE DEFENSE AND CONTROL OF ANY MATTER FOR WHICH YOU ARE REQUIRED TO INDEMNIFY US, AND YOU AGREE TO COOPERATE, AT YOUR EXPENSE, WITH OUR DEFENSE OF SUCH CLAIMS. WE WILL USE REASONABLE EFFORTS TO NOTIFY YOU OF ANY SUCH CLAIM, ACTION, OR PROCEEDING WHICH IS SUBJECT TO THIS INDEMNIFICATION UPON BECOMING AWARE OF IT.</p>

  <h2>17. USER DATA</h2>

  <p>WE WILL MAINTAIN CERTAIN DATA THAT YOU TRANSMIT TO THE SITE FOR THE PURPOSE OF MANAGING THE PERFORMANCE OF THE SITE, AS WELL AS DATA RELATING TO YOUR USE OF THE SITE. ALTHOUGH WE PERFORM REGULAR ROUTINE BACKUPS OF DATA, YOU ARE SOLELY RESPONSIBLE FOR ALL DATA THAT YOU TRANSMIT OR THAT RELATES TO ANY ACTIVITY YOU HAVE UNDERTAKEN USING THE SITE. YOU AGREE THAT WE SHALL HAVE NO LIABILITY TO YOU FOR ANY LOSS OR CORRUPTION OF ANY SUCH DATA, AND YOU HEREBY WAIVE ANY RIGHT OF ACTION AGAINST US ARISING FROM ANY SUCH LOSS OR CORRUPTION OF SUCH DATA.</p>

  <h2>18. ELECTRONIC COMMUNICATIONS, TRANSACTIONS, AND SIGNATURES</h2>

  <p>VISITING THE SITE, SENDING US EMAILS, AND COMPLETING ONLINE FORMS CONSTITUTE ELECTRONIC COMMUNICATIONS. YOU CONSENT TO RECEIVE ELECTRONIC COMMUNICATIONS, AND YOU AGREE THAT ALL AGREEMENTS, NOTICES, DISCLOSURES, AND OTHER COMMUNICATIONS WE PROVIDE TO YOU ELECTRONICALLY, VIA EMAIL AND ON THE SITE, SATISFY ANY LEGAL REQUIREMENT THAT SUCH COMMUNICATION BE IN WRITING. YOU HEREBY AGREE TO THE USE OF ELECTRONIC SIGNATURES, CONTRACTS, ORDERS, AND OTHER RECORDS, AND TO ELECTRONIC DELIVERY OF NOTICES, POLICIES, AND RECORDS OF TRANSACTIONS INITIATED OR COMPLETED BY US OR VIA THE SITE. YOU HEREBY WAIVE ANY RIGHTS OR REQUIREMENTS UNDER ANY STATUTES, REGULATIONS, RULES, ORDINANCES, OR OTHER LAWS IN ANY JURISDICTION WHICH REQUIRE AN ORIGINAL SIGNATURE OR DELIVERY OR RETENTION OF NON-ELECTRONIC RECORDS, OR TO PAYMENTS OR THE GRANTING OF CREDITS BY ANY MEANS OTHER THAN ELECTRONIC MEANS.</p>

  <h2>19. CALIFORNIA USERS AND RESIDENTS</h2>

  <p>IF ANY COMPLAINT WITH US IS NOT SATISFACTORILY RESOLVED, YOU CAN CONTACT THE COMPLAINT ASSISTANCE UNIT OF THE DIVISION OF CONSUMER SERVICES OF THE CALIFORNIA DEPARTMENT OF CONSUMER AFFAIRS IN WRITING AT 1625 NORTH MARKET BLVD., SUITE N 112, SACRAMENTO, CALIFORNIA 95834 OR BY TELEPHONE AT (800) 952-5210 OR (916) 445-1254.</p>

  <h2>20. MISCELLANEOUS</h2>

  <p>THESE TERMS OF USE AND ANY POLICIES OR OPERATING RULES POSTED BY US ON THE SITE OR IN RESPECT TO THE SITE CONSTITUTE THE ENTIRE AGREEMENT AND UNDERSTANDING BETWEEN YOU AND US. OUR FAILURE TO EXERCISE OR ENFORCE ANY RIGHT OR PROVISION OF THESE TERMS OF USE SHALL NOT OPERATE AS A WAIVER OF SUCH RIGHT OR PROVISION. THESE TERMS OF USE OPERATE TO THE FULLEST EXTENT PERMISSIBLE BY LAW. WE MAY ASSIGN ANY OR ALL OF OUR RIGHTS AND OBLIGATIONS TO OTHERS AT ANY TIME. WE SHALL NOT BE RESPONSIBLE OR LIABLE FOR ANY LOSS, DAMAGE, DELAY, OR FAILURE TO ACT CAUSED BY ANY CAUSE BEYOND OUR REASONABLE CONTROL. IF ANY PROVISION OR PART OF A PROVISION OF THESE TERMS OF USE IS DETERMINED TO BE UNLAWFUL, VOID, OR UNENFORCEABLE, THAT PROVISION OR PART OF THE PROVISION IS DEEMED SEVERABLE FROM THESE TERMS OF USE AND DOES NOT AFFECT THE VALIDITY AND ENFORCEABILITY OF ANY REMAINING PROVISIONS. THERE IS NO JOINT VENTURE, PARTNERSHIP, EMPLOYMENT OR AGENCY RELATIONSHIP CREATED BETWEEN YOU AND US AS A RESULT OF THESE TERMS OF USE OR USE OF THE SITE. YOU AGREE THAT THESE TERMS OF USE WILL NOT BE CONSTRUED AGAINST US BY VIRTUE OF HAVING DRAFTED THEM. YOU HEREBY WAIVE ANY AND ALL DEFENSES YOU MAY HAVE BASED ON THE ELECTRONIC FORM OF THESE TERMS OF USE AND THE LACK OF SIGNING BY THE PARTIES HERETO TO EXECUTE THESE TERMS OF USE.</p>

  <h2>21. CONTACT US</h2>

  <address>
    <p>COMSUBRON NINETEEN</p>
    <p>DEVELOPED BY: LT NATHAN MEEKER</p>
    <p>PHONE: 360-396-6935</p>
  </address>

  <p>THESE TERMS OF USE WERE CREATED USING TERMLY'S <a href="https://termly.io/products/terms-and-conditions-generator"></a>TERMS AND CONDITIONS GENERATOR.</a></P>
  
  </div>
</main>

<%- include('includes/footer'); %>